services:
    - docker

env:
  global:
    - ON_TRAVIS=true
    # - IMAGE=elpaso/qgis-testing-environment
    # - IMAGE=boundlessgeo/qgis-testing-environment
    - IMAGE=qgis-platform

  matrix:
    # Tags from elpaso
    # - QGIS_VERSION_TAG=release-2_8
    # - QGIS_VERSION_TAG=release-2_14

    # Tags from boundlessgeo
    # - QGIS_VERSION_TAG=release # Current 2.14
    # - QGIS_VERSION_TAG=master_2 # Current 2.17
    # - QGIS_VERSION_TAG=master # Current 3.0

    # Tags from kartoza
    - QGIS_VERSION_TAG=latest

language: python

cache:
  directories:
    - $HOME/.cache/pip

python:
  - "3.5"
dist: xenial
virtualenv:
  system_site_packages: true

branches:
  only:
    - master
    - develop

addons:
  apt:
    packages:
      - git
      - python-software-properties

before_install:
  - docker pull ${IMAGE}:${QGIS_VERSION_TAG}

install:
  - pip install --upgrade pip
  - pip install --upgrade pep8
  - docker run -d --name qgis-testing-environment -v ${TRAVIS_BUILD_DIR}:/tests_directory -e ON_TRAVIS=${ON_TRAVIS} -e DISPLAY=:99 ${IMAGE}:${QGIS_VERSION_TAG}
  - sleep 10
  - docker exec -it qgis-testing-environment sh -c "qgis_setup.sh parcel_plugin"

script:
  - docker exec -it qgis-testing-environment sh -c "qgis_testrunner.sh test_suite.test_package"
  - make pep8

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/02b5a8e3e7c3c47df25c
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: always    # options: [always|never|change] default: always

  email:
    - tim@kartoza.com
    - gavin@kartoza.com

sudo: false
